node_modules
config.toml
config.toml.*
libredesk.bin
libredesk
libredesk.exe
uploads
.env
dist/
.vscode/
static/widget.min.js
.worktrees
Dockerfile.staging
Dockerfile.staging.go-only
config.local.toml
docker-compose.local.yml
